<section id='suppliers'>
  <h2>Fornecedores</h2>
  <div>
    <%= link_to 'Cadastrar fornecedor', new_supplier_path %>
  </div>

  <% if @suppliers.empty? %>
    <p>Não existem fornecedores cadastrados.</p>
  <% else %>
    <% @suppliers.each do |supplier| %>
      <div>
        <p><strong><%= link_to supplier.brand_name, supplier %></strong></p>
      </div>
    <% end %>
  <% end %>
</section>

<div>
  <p><%= link_to 'Voltar', root_path %></p>
</div>
